@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #AD8F09;
}
.container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.header {
	background: #FAD019;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #AD8F09;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FAD019;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #AD8F09;
	position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px; 
	text-align: center;
}
